body {
  font-family: Arial; /* Schrift */
  background-image: url("struktur.jpg"); /* Hintergrundbild */
  background-size:cover; /* Hintergrundbildgröße */
  background-color: #333333; /* Hintergrundfarbe */
  margin:0; /* Außenabstand */
  padding:0; /* Innenabstand */
}

a {
  text-decoration: none; /* Links sind nicht unterstrichen */
  font-size: 18px; /* Schriftgröße */
}

/* Überschrift */
.heading {
height: 320px; /* Höhe */
margin-top: 100px; /* Außenabstand oben */
background-color:#9ab364; /* Hintergrundfarbe */
display: flex; /* Box-Typ */
position: relative; /* Position */
}
.image {
  width: 35%; /* Breite */
  height: auto; 
  background-size:cover; /* Hintergrundgröße */
  text-align: left; /* Text ist Linksbündig */
}
.image a {
  display: flex; /* Flexible box */
  color: #ddd; /* Schriftfarbe */
  font-size: 10px; 
  padding-top: 10px; /* Innenabstand oben */
  padding-left: 10px; /* Innenabstand links  */
}

.text {
color:#f0f0f0; /* Schriftfarbe */
margin-right: 6%;
margin-top: auto;
margin-bottom: auto;
text-align: right;
font-size: 22px;
position: relative;
width: 60%;
font-family: 'Avenir Light';
}


/* WORKSHOP STREIFEN */
.stripnormal {
  width: 5%;
  transition: all 2s; /* Animierter Übergang */
  float: left; /* Ausrichtung */
  margin: auto;
  padding: 10px;
  height: 80%;
  display: flex; 
}

.strip {
width: 5%;
transition: all 2s;
float: left;
margin: auto;
padding: 10px;
height: 80%;
display: flex;
}

.strip:hover {
  width: 30%;
  transition: all 2s;
}

.strip .phead {
writing-mode: vertical-lr; /* Schreibt vertikal */
transform: rotate(-180deg); /* Dreht den Text */
margin: 0;
text-align: center;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
letter-spacing: 6px; /* Abstand einzelner Buchstaben */
font-size: 30px;
color: white;
margin-left: 20px;
}

.strip:hover .ptext {
opacity: 1; /* Sichtbarkeit */
}

.ptext {
transition: all 1s;
opacity: 0;
display: flex; 
justify-content: center; /* Horizontal im Zentrum */
align-items: center; /* Vertikal im Zentrum */
margin: auto;
text-align: center;
color: white;
}



/* INHALT */
.impressum p {
  width: 90%;
  color:#f0f0f0;
  margin: auto;
  padding: 10px;
  text-align: left;
  vertical-align: middle; /* Vertikale Ausrichtung */
  background-color: #3535354d;
  box-shadow: 0px 16px 32px 0px rgba(0,0,0,0.2); /* Schatten */
  font-size: 18px;
}

.inhalt p, .container {
  width: 90%;
  column-width: 400px; /* Spaltenbreite */
  column-gap: 100px; /* Spaltenbreitengröße */
  color:#f0f0f0;
  margin: auto;
  padding: 10px;
  text-align: left;
  vertical-align: middle;
  background-color: #3535354d;
  box-shadow: 0px 16px 32px 0px rgba(0,0,0,0.2);
  font-size: 18px;
}

h1 {
margin: 2% auto auto 4%;
padding: 10px;
text-align: left;
vertical-align: middle;
color:#f0f0f0;
font-family: 'Avenir Light', sans-serif;
}

.inhalt{
margin: 0;
margin-bottom: 10%;
width: 100%;
height: auto;
}

.category {
  font-size: 20px;
}


/* NAVIGATION */
.items {
text-align: right;
text-decoration-line: line-through;
text-decoration-thickness: 10px;
text-decoration-color: #9ab364;
margin: 0px 100px 0 0;
}

.nav {
background-color: #d4d4d4;
margin-top: -100px;
border: 0;
position: fixed;
z-index: 99; /* Welches Element im Vordergrund und im Hintergrund ist */
width: 100%;
}

.nav a {
float: left;
color: #d4d4d4;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

.nav a:hover {
background-color: #ddd;
color: black;
}

.nav a.active {
background-color: #9ab364;
color: white;
border-radius: 15px;
border-radius: 15px;
position: relative;
display: inline-block;
margin: 3px 2px 0px 6%;
}

.nav a.inactive {
  color: rgb(29, 29, 29);
  border: 15px;
  border-radius: 15px;
  position: relative;
  display: inline-block;
  margin: 3px 2px 0px .3%;
  }


/* DROPDOWN MENU NAV */
.dropbtn {
background-color: transparent;
color: rgb(41, 41, 41);
transition: all .2s;
padding: 16px;
border: none;
border-radius: 15px;
font-size: 18px;
}

.dropdown {
position: relative;
display: inline-block;
margin: 2px 2px 2px 2px;
}

.dropdown-content {
display: none;
position: absolute;
width: 30px;
z-index: 1;
border-radius: 15px;

}

.dropdown-content a {
border-radius: 10px;
text-decoration: none;
display: block;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
background-color: #272727;
width: 600%;
color: white;
height: auto;
transition: all .5s;
transition-timing-function: ease; /* Typ des Übergangs */
text-align: left;
}

.dropdown-content a:hover {
background-color: #9ab364;
width: 700%;
}

.dropdown:hover .dropdown-content {
display: block;
animation: fadeIn .6s; /* Einblende Animation */

}

@keyframes fadeIn {
0% { opacity: 0; }
100% { opacity: 1; }
}

.dropdown:hover .dropbtn {
background-color: #7c7c7c;
transition: all 0.2s ease-in-out;
}