#kopf {
         background-color: black;
         border-style: solid;
         border-width: 10px;
         border-radius: 25px;
}
.link {
         color: white;
}
body {
         font-family: Arial;
         background-image: url("struktur.jpg");
         background-size:cover;
         background-color: #333333;
         padding: 10px 30 30 10;
}
a {
  text-decoration: none;
  font-size: 14px;
}

/* INHALT */
/* h1 {
  background-color: #333;
  color: white;
  width: 80%;
  border-width: 10px;
  border-radius: 25px;
  margin: auto;
  margin-top: 10px;
  text-align: center;
  padding: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
} */

h1 {
  padding-left: 15px;
  padding-top: 15px;
  color: white;
  text-align: center;
}
p {
  padding-left: 15px;
  padding-bottom: 15px;
  color: white;
  text-align: justify;
}
hr {
  width: 80%;
}

.inhalt {
  border-radius: 10px;
  background-color: #0000003f;
}

/*p {
  text-align: justify;
  border: none;
  width: 95%;
  border-width: 10px;
  border-radius: 25px;
  width: 100%;
  margin: auto;
  margin-top: 10px;
  width: 95%;
  padding: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  background-color: #0000003f;
  color: white;
} */

/* NAVIGATION */
.items {
  text-align: center;
  text-decoration-line: line-through;
  text-decoration-thickness: 10px;
  text-decoration-color: #04AA6D;
}

.nav {
  background-color: #333;
  border-radius: 15px;
}

.nav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav a:hover {
  background-color: #ddd;
  color: black;
}

.nav a.active {
  background-color: #04AA6D;
  color: white;
  border-radius: 15px;
  border-radius: 15px;
  position: relative;
  display: inline-block;
  margin: 3px 2px 0px 4px;
}


/* DROPDOWN MENU NAV */
.dropbtn {
  background-color: transparent;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  border-radius: 15px;
  font-size: 14px;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin: 2px 2px 2px 2px;
}

.dropdown-content {
  display: none;
  position: absolute;
  width: 30px;
  z-index: 1;
  border-radius: 25px;
}

.dropdown-content a {
  height: 0px;
  border-radius: 10px;
  text-decoration: none;
  display: block;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  background-color: #272727;
  width: 600%;
  color: white;
  height: auto;
  transition: all .5s;
}

.dropdown-content a:hover {
  background-color: #04AA6D;
  width: 700%;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: rgb(0, 0, 0);
}

.blocked
{
  pointer-events: none;
}

.logo {
  float: right;
  width: 25px;
  margin: 13px 15px 0 0;
  border-radius: 25px;
}